html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #555;
  background: linear-gradient(to top right, rgb(40, 189, 139) 50%, #00d4ff);
  font-family:'Indie Flower', Caveat, cursive;
  font-weight: 400;
  font-size: 1.15em;
  text-align: center;
}

h1 {
  margin:0;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-weight: 900;
  margin: 0px;
  
}

h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

h5 {
  margin: 0px;

}

p {
  margin: 0px;
}

ul {
  margin: 0px;
}

a {
  text-decoration: none;
}

/* @supports (scrollbar-color: red blue) {
  * {
      scrollbar-color: #333 #777;
      scrollbar-width: thin;
  }
} */

::-webkit-scrollbar {
  background: linear-gradient(#000 64px, #555);
  width: .8em;
  height: .8em;
}

::-webkit-scrollbar-track {
  background: #777;
  border-radius: 100vw;
  margin-top: 60px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 100vw;
}